body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 35px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color:  #ffffff; /* Цвет основного текста */ 
}
h1 {
    color: #D6FF6B; /* Цвет заголовка */
    font-size: 50px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
 


@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover  {
    animation: color-change 3s infinite;
}
 